@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap');

:root{
    --primary-color: #cf766c;
    --secondary-color: #cf766c;
    --dark-color:#333;
    --secondary-dark: rgb(66, 66, 66);
    --light-color: #f4f4f4;
    --success-color: #5cb85c;
    --error-color: #d9534f;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    font-family: "Lato", sans-serif;
    color: var(--primary-color);
    line-height: 1.3;
}

ul {
    list-style-type: none;
}
 
a {
    text-decoration: none;
    color: #fff;
}

h1,
h2 {
    font-weight:600;
    line-height: 1.2;
    margin: 10px 0;
}


p {
    margin: 10px 0;
}

img {
    width: 100%;
}

/* Navigation Bar */
.navbar {
    background-color: var(--dark-color);
}
.logo span {
    color: #fff;
    padding-left: 5px;
}

.navbar ul {
    display: flex;
    line-height: 1.6;
}

.navbar a {
    color: #fff;
    padding: 10px;
    margin: 0 5px;
    font-weight: 500;
}

.navbar a:hover{
    border-bottom: 2px var(--primary-color) solid;
}

.navbar .flex {
    justify-content: space-between;
}
.navbar i {
    padding-left: 10px;
}
/* Showcase */

.showcase h1 {
    color: var(--dark-color);
}

.showcase p {
    margin: 20px 0;
    color: var(--dark-color);
}

.slogan {
    font-size: 11px;
    line-height: 5%;
    padding-bottom: 15px;
    font-weight: bold;
}

.showcase {
    height: 400px;
    background-color: var(--light-color);
    
}

.showcase .grid {
    overflow: visible;
    grid-template-columns: 55% 45%;
    gap: 30px;
}


.legion img {
    width: 100%;
    height: auto;
}

/* Stats */
.stats {
    background-color: var(--primary-color);
}

.stats p {
    color: #fff;
}

.stats h1,
h2 {
    color: var(--dark-color);
    padding-left: 15px;
    text-align: left;
    font-size: 40px;
    padding-top: 40px;
    
}

.stats .grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
}
.stats .grid >*:first-child {
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
}
.stats .grid >*:nth-child(2) {
    grid-column: 1 / span 1;
    grid-row: 2 / span 3;
}
.stats .grid >*:nth-child(3) {
    grid-column: 2 / span 2;
    grid-row: 1 / span 2;
}
.stats .grid >*:nth-child(4) {
    grid-column: 2 / span 2;
    grid-row: 2 / span 2;
}
.stats .grid >*:nth-child(5) {
    grid-column: 2 / span 2;
    grid-row: 3 / span 2;
}


















/* Footer */

.footer .social a {
    color: var(--primary-color);
    margin: 0 10px;
}





